<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM">

    <listeners>
        <listener class-name="com.freecrm.ExtendReportListner.ExtentReporterNG" />
    </listeners>

<test verbose="2" preserve-order="true" name="C:/Users/DANISH/IdeaProjects/POMFreeCRM/src/main/Resource/TestNg">


    <classes>
        <class name="com.freecrm.test.LoginPageTest"></class>
        <class name="com.freecrm.test.HomePageTest"></class>

    </classes>
</test>
</suite>